@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Space+Mono:wght@700&display=swap');

:root{
    --font-color:#333;
    --logo-font:'Inconsolata' , monospace;
    --font:'Space Mono', monospace;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div.wrapper{
    padding: 2% 10%;
    width: 100%;
    min-height: 100vh;
}
nav{
    width:100%;
}

nav a{
    text-decoration: none;
    color: var(--font-color);
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--logo-font);
}

div.contents{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    justify-content: flex-start;
    align-items: center;
    padding: 10% 0;
}

div.scarecrow{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

div.scarecrow img{
   width: 80%;
}

div.text h1{
    font-size: 64px;
    letter-spacing: 3px;
    line-height: 1.5;
    font-family: var(--font);
    color: #333;
}

div.text p{
    font-size: 24px;
    letter-spacing: 3px;
    line-height: 1.8;
    font-family: var(--logo-font);
    width: 75%;
    padding: 20px 0;
    color: #4F4F4F;
}

div.text a{
    display: block;
    width: 200px;
    padding: 1em;
    text-align: center;
    background-color: #333;
    text-decoration: none;
    color: #fff;
}

@media(max-width:1220px){
    div.wrapper{
        padding: 2% 5%;
        width: 100%;
        min-height: 100vh;
    }
    div.contents{
        display:block;
        margin-top: 50px;
    }
    div.scarecrow{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }
    div.text p{
        width: 100%;
    }
}
